# Build products
build/
*.pyc
__pycache__/

# Version Control
.svn

# OS files
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes

# Editor files
._*
*~
.*.swp
.bundle
*.sublime-project
*.sublime-workspace
