[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule ".vim/bundle/vim-notes"]
	path = .vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/splice.vim"]
	path = .vim/bundle/splice.vim
	url = https://github.com/sjl/splice.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/vim-node"]
	path = .vim/bundle/vim-node
	url = https://github.com/guileen/vim-node.git
[submodule ".vim/bundle/vim-angry"]
	path = .vim/bundle/vim-angry
	url = https://github.com/b4winckler/vim-angry.git
[submodule ".vim/bundle/vim-matlab"]
	path = .vim/bundle/vim-matlab
	url = https://github.com/sgeb/vim-matlab.git
[submodule ".vim/bundle/headlights"]
	path = .vim/bundle/headlights
	url = https://github.com/mbadran/headlights.git
[submodule ".vim/bundle/tabman.vim"]
	path = .vim/bundle/tabman.vim
	url = https://github.com/kien/tabman.vim.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "git/gitignore"]
        path = git/gitignore
        url = https://github.com/github/gitignore.git
[submodule "shell/oh-my-zsh"]
	path = shell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "editors/vim/bundle/Align"]
	path = editors/vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "editors/vim/bundle/Command-T"]
	path = editors/vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "editors/vim/bundle/LocateOpen"]
	path = editors/vim/bundle/LocateOpen
	url = https://github.com/yokomizor/LocateOpen.git
[submodule "editors/vim/bundle/Recover.vim"]
	path = editors/vim/bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim
[submodule "editors/vim/bundle/YankRing.vim"]
	path = editors/vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "editors/vim/bundle/atp-vim"]
	path = editors/vim/bundle/atp-vim
	url = git://git.code.sf.net/p/atp-vim/code
[submodule "editors/vim/bundle/clang_complete"]
	path = editors/vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "editors/vim/bundle/conque-term"]
	path = editors/vim/bundle/conque-term
	url = https://github.com/rosenfeld/conque-term.git
[submodule "editors/vim/bundle/gundo"]
	path = editors/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "editors/vim/bundle/jellybeans.vim"]
	path = editors/vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "editors/vim/bundle/lusty"]
	path = editors/vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "editors/vim/bundle/minibufexpl.vim"]
	path = editors/vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "editors/vim/bundle/molokai"]
	path = editors/vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "editors/vim/bundle/mustang-vim"]
	path = editors/vim/bundle/mustang-vim
	url = https://github.com/croaker/mustang-vim.git
[submodule "editors/vim/bundle/nerdcommenter"]
	path = editors/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "editors/vim/bundle/nerdtree"]
	path = editors/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "editors/vim/bundle/pydoc"]
	path = editors/vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "editors/vim/bundle/python-mode"]
	path = editors/vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "editors/vim/bundle/rainbow_paranthesis.vim"]
	path = editors/vim/bundle/rainbow_paranthesis.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "editors/vim/bundle/simple-pairs"]
	path = editors/vim/bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs.git
[submodule "editors/vim/bundle/snipmate-snippets"]
	path = editors/vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "editors/vim/bundle/supertab"]
	path = editors/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "editors/vim/bundle/syntastic"]
	path = editors/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "editors/vim/bundle/tagbar"]
	path = editors/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "editors/vim/bundle/tlib_vim"]
	path = editors/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "editors/vim/bundle/vim-addon-mw-utils"]
	path = editors/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
