[submodule "git/gitignore"]
        path = git/gitignore
        url = https://github.com/github/gitignore.git
[submodule "shell/oh-my-zsh"]
	path = shell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "editors/vim/bundle/Align"]
	path = editors/vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "editors/vim/bundle/Recover.vim"]
	path = editors/vim/bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim
[submodule "editors/vim/bundle/atp-vim"]
	path = editors/vim/bundle/atp-vim
	url = git://git.code.sf.net/p/atp-vim/code
[submodule "editors/vim/bundle/gundo"]
	path = editors/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "editors/vim/bundle/lusty"]
	path = editors/vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "editors/vim/bundle/minibufexpl.vim"]
	path = editors/vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "editors/vim/bundle/molokai"]
	path = editors/vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "editors/vim/bundle/nerdcommenter"]
	path = editors/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "editors/vim/bundle/pydoc"]
	path = editors/vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "editors/vim/bundle/python-mode"]
	path = editors/vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "editors/vim/bundle/rainbow_paranthesis.vim"]
	path = editors/vim/bundle/rainbow_paranthesis.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "editors/vim/bundle/simple-pairs"]
	path = editors/vim/bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs.git
[submodule "editors/vim/bundle/syntastic"]
	path = editors/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "editors/vim/bundle/tagbar"]
	path = editors/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "editors/vim/bundle/tlib_vim"]
	path = editors/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "editors/vim/bundle/vim-addon-mw-utils"]
	path = editors/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "editors/vim/bundle/vim-easymotion"]
	path = editors/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "editors/vim/bundle/vim-fugitive"]
	path = editors/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "editors/vim/bundle/vim-javascript"]
	path = editors/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "editors/vim/bundle/vim-json"]
	path = editors/vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "editors/vim/bundle/vim-notes"]
	path = editors/vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "editors/vim/bundle/splice.vim"]
	path = editors/vim/bundle/splice.vim
	url = https://github.com/sjl/splice.vim.git
[submodule "editors/vim/bundle/ack.vim"]
	path = editors/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "editors/vim/bundle/vim-node"]
	path = editors/vim/bundle/vim-node
	url = https://github.com/guileen/vim-node.git
[submodule "editors/vim/bundle/vim-angry"]
	path = editors/vim/bundle/vim-angry
	url = https://github.com/b4winckler/vim-angry.git
[submodule "editors/vim/bundle/vim-matlab"]
	path = editors/vim/bundle/vim-matlab
	url = https://github.com/sgeb/vim-matlab.git
[submodule "editors/vim/bundle/headlights"]
	path = editors/vim/bundle/headlights
	url = https://github.com/mbadran/headlights.git
[submodule "editors/vim/bundle/tabman.vim"]
	path = editors/vim/bundle/tabman.vim
	url = https://github.com/kien/tabman.vim.git
[submodule "editors/vim/bundle/editorconfig-vim"]
	path = editors/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "editors/vim/bundle/vim-markdown"]
	path = editors/vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "editors/powerline"]
	path = editors/powerline
	url = git://github.com/Lokaltog/powerline
[submodule "editors/vim/bundle/vim-git"]
	path = editors/vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "editors/vim/bundle/vim-snippets"]
	path = editors/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "editors/vim/bundle/vim-snipmate"]
	path = editors/vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "editors/vim/bundle/vim-misc"]
	path = editors/vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "editors/vim/bundle/vim-howdoi"]
	path = editors/vim/bundle/vim-howdoi
	url = https://github.com/laurentgoudet/vim-howdoi
[submodule "editors/vim/bundle/unite"]
	path = editors/vim/bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "editors/vim/bundle/vimproc.vim"]
	path = editors/vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "editors/vim/bundle/vimshell.vim"]
	path = editors/vim/bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim
[submodule "editors/vim/bundle/YouCompleteMe"]
	path = editors/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "editors/vim/bundle/vimfiler.vim"]
	path = editors/vim/bundle/vimfiler.vim
	url = https://github.com/Shougo/vimfiler.vim
[submodule "editors/vim/bundle/neossh.vim"]
	path = editors/vim/bundle/neossh.vim
	url = https://github.com/Shougo/neossh.vim
[submodule "editors/vim/bundle/vim-signify"]
	path = editors/vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
